.Grid-game {
  color: #d5ff80;
  display: grid;
  grid-template-columns: 60px 60px 60px;
}

@media (min-width: 420px) {
  .Grid-game {
    display: grid;
    grid-template-columns: 100px 100px 100px;
  }
}
